run/
build/
.gradle/
.idea/
.kotlin/
gradle.properties
/bin/main/net/astrorbits/dontdoit/criteria/builtin/UserDefinedCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/builtin/YLevelCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/helper/BucketOperationType.kt
/bin/main/net/astrorbits/dontdoit/criteria/helper/BuiltinCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/helper/CriteriaType.kt
/bin/main/net/astrorbits/dontdoit/criteria/helper/DistanceToEntityMode.kt
/bin/main/net/astrorbits/dontdoit/criteria/helper/MoveType.kt
/bin/main/net/astrorbits/dontdoit/criteria/helper/TriggerDifficulty.kt
/bin/main/net/astrorbits/dontdoit/criteria/helper/WaitTimeMode.kt
/bin/main/net/astrorbits/dontdoit/criteria/helper/YLevelType.kt
/bin/main/net/astrorbits/dontdoit/criteria/inspect/BlockInspectCandidate.kt
/bin/main/net/astrorbits/dontdoit/criteria/inspect/DamageTypeInspectCandidate.kt
/bin/main/net/astrorbits/dontdoit/criteria/inspect/EntityInspectCandidate.kt
/bin/main/net/astrorbits/dontdoit/criteria/inspect/GroundItemInspectCandidate.kt
/bin/main/net/astrorbits/dontdoit/criteria/inspect/ImmediatelyTriggerInspector.kt
/bin/main/net/astrorbits/dontdoit/criteria/inspect/InventoryInspectable.kt
/bin/main/net/astrorbits/dontdoit/criteria/inspect/InventoryInspectContext.kt
/bin/main/net/astrorbits/dontdoit/criteria/inspect/InventoryItemInspectCandidate.kt
/bin/main/net/astrorbits/dontdoit/criteria/inspect/SourcedDamageInspector.kt
/bin/main/net/astrorbits/dontdoit/criteria/system/CriteriaConfigData.kt
/bin/main/net/astrorbits/dontdoit/criteria/system/CriteriaManager.kt
/bin/main/net/astrorbits/dontdoit/criteria/AfterDeathTimeCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/BreakBlockCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/BucketOperationCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/CraftItemCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/Criteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/CriteriaHoldTimeCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/DistanceToEntityCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/DropItemCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/EatItemCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/FallDistanceCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/FoodLevelCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/HealthCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/HeightmapMatchingPosCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/HoldingItemCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/HurtByEntityCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/HurtEntityCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/ImmediatelyTriggerCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/InBlockCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/InteractBlockWithItemCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/InvalidCriteriaException.class
/bin/main/net/astrorbits/dontdoit/criteria/InventoryContainingItemCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/JumpCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/KilledByEntityCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/KillEntityCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/LevelUpCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/LifeCountCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/MoveTimeCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/OpenInventoryCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/PhysicalActionCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/PickUpItemCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/PlaceBlockCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/RespawnTimeCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/RotationCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/SelectedHotbarSlotCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/StandingOnBlockCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/StatusEffectCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/SurroundedByBlockCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/TransferItemCriteria.kt
/bin/main/net/astrorbits/dontdoit/criteria/WalkDistanceCriteria.kt
/bin/main/net/astrorbits/dontdoit/debug/DebugCommand.kt
/bin/main/net/astrorbits/dontdoit/system/generate/BlockGeneration.kt
/bin/main/net/astrorbits/dontdoit/system/generate/BlockGenerationConfigData.kt
/bin/main/net/astrorbits/dontdoit/system/generate/GameAreaGenerator.kt
/bin/main/net/astrorbits/dontdoit/system/generate/GenerationEntry.kt
/bin/main/net/astrorbits/dontdoit/system/team/TeamData.kt
/bin/main/net/astrorbits/dontdoit/system/team/TeamInfoSynchronizer.kt
/bin/main/net/astrorbits/dontdoit/system/team/TeamManager.kt
/bin/main/net/astrorbits/dontdoit/system/CriteriaChangeReason.kt
/bin/main/net/astrorbits/dontdoit/system/CriteriaCommand.kt
/bin/main/net/astrorbits/dontdoit/system/DiamondBehavior.kt
/bin/main/net/astrorbits/dontdoit/system/GameState.kt
/bin/main/net/astrorbits/dontdoit/system/GameStateManager.kt
/bin/main/net/astrorbits/dontdoit/system/Preparation.kt
/bin/main/net/astrorbits/dontdoit/Configs.kt
/bin/main/net/astrorbits/dontdoit/DontDoIt.kt
/bin/main/net/astrorbits/dontdoit/DynamicSettings.kt
/bin/main/net/astrorbits/dontdoit/EventListener.kt
/bin/main/net/astrorbits/lib/codec/builder/CodecBuilder.kt
/bin/main/net/astrorbits/lib/codec/builder/CodecWithGetter.kt
/bin/main/net/astrorbits/lib/codec/builder/GroupedCodec.kt
/bin/main/net/astrorbits/lib/codec/ByteFileHelper.kt
/bin/main/net/astrorbits/lib/codec/Codec.kt
/bin/main/net/astrorbits/lib/codec/Either.kt
/bin/main/net/astrorbits/lib/codec/InvalidDataException.class
/bin/main/net/astrorbits/lib/codec/NotEnoughDataException.class
/bin/main/net/astrorbits/lib/codec/ObjectDecoder.kt
/bin/main/net/astrorbits/lib/codec/ObjectDeserializeException.class
/bin/main/net/astrorbits/lib/codec/ObjectEncoder.kt
/bin/main/net/astrorbits/lib/codec/SizedCodec.kt
/bin/main/net/astrorbits/lib/collection/CollectionHelper.kt
/bin/main/net/astrorbits/lib/command/CommandHelper.kt
/bin/main/net/astrorbits/lib/command/EnumArgumentType.kt
/bin/main/net/astrorbits/lib/config/BoolConfigData.kt
/bin/main/net/astrorbits/lib/config/Config.kt
/bin/main/net/astrorbits/lib/config/ConfigData.kt
/bin/main/net/astrorbits/lib/config/DoubleConfigData.kt
/bin/main/net/astrorbits/lib/config/DoubleListConfigData.kt
/bin/main/net/astrorbits/lib/config/EnumConfigData.kt
/bin/main/net/astrorbits/lib/config/IntConfigData.kt
/bin/main/net/astrorbits/lib/config/IntListConfigData.kt
/bin/main/net/astrorbits/lib/config/ListConfigData.kt
/bin/main/net/astrorbits/lib/config/MapConfigData.kt
/bin/main/net/astrorbits/lib/config/MaterialConfigData.kt
/bin/main/net/astrorbits/lib/config/MultilineTextConfigData.kt
/bin/main/net/astrorbits/lib/config/ParserConfigData.kt
/bin/main/net/astrorbits/lib/config/ParserListConfigData.kt
/bin/main/net/astrorbits/lib/config/ParserMapConfigData.kt
/bin/main/net/astrorbits/lib/config/StringConfigData.kt
/bin/main/net/astrorbits/lib/config/StringListConfigData.kt
/bin/main/net/astrorbits/lib/config/StringParserMapConfigData.kt
/bin/main/net/astrorbits/lib/config/TextConfigData.kt
/bin/main/net/astrorbits/lib/dialog/DialogHelper.kt
/bin/main/net/astrorbits/lib/item/ItemHelper.kt
/bin/main/net/astrorbits/lib/math/vector/BlockBox.kt
/bin/main/net/astrorbits/lib/math/vector/Box.kt
/bin/main/net/astrorbits/lib/math/vector/Vec3d.kt
/bin/main/net/astrorbits/lib/math/vector/Vec3i.kt
/bin/main/net/astrorbits/lib/math/vector/VectorHelper.kt
/bin/main/net/astrorbits/lib/math/Axis.kt
/bin/main/net/astrorbits/lib/math/Direction.kt
/bin/main/net/astrorbits/lib/math/Duration.kt
/bin/main/net/astrorbits/lib/math/MathHelper.kt
/bin/main/net/astrorbits/lib/math/NumberSign.kt
/bin/main/net/astrorbits/lib/math/Rotation.kt
/bin/main/net/astrorbits/lib/range/DoubleRange.kt
/bin/main/net/astrorbits/lib/range/FloatRange.kt
/bin/main/net/astrorbits/lib/range/IntRange.kt
/bin/main/net/astrorbits/lib/range/Range.kt
/bin/main/net/astrorbits/lib/scoreboard/SidebarDisplay.kt
/bin/main/net/astrorbits/lib/task/TaskBuilder.kt
/bin/main/net/astrorbits/lib/task/TaskHelper.kt
/bin/main/net/astrorbits/lib/task/TaskType.kt
/bin/main/net/astrorbits/lib/task/Timer.kt
/bin/main/net/astrorbits/lib/task/TimerType.kt
/bin/main/net/astrorbits/lib/text/LegacyText.kt
/bin/main/net/astrorbits/lib/text/LegacyTextColor.kt
/bin/main/net/astrorbits/lib/text/LegacyTextDecoration.kt
/bin/main/net/astrorbits/lib/text/SimpleTextBuilder.kt
/bin/main/net/astrorbits/lib/text/TextHelper.kt
/bin/main/net/astrorbits/lib/text/TitleHelper.kt
/bin/main/net/astrorbits/lib/Identifier.kt
/bin/main/net/astrorbits/lib/NMSWarning.kt
/bin/main/net/astrorbits/lib/StringHelper.kt
/bin/main/criteria.yml
/bin/main/game_settings.yml
/bin/main/plugin.yml
